---
// a) Flyt styles-mappen fra /public til /src
// b) import "../styles/global.css";

// Importer components her
import "../styles/global.css";
import Component from "../components/Button.astro"


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Øvelse: Componentize</title>
  </head>
  <body>
    <!-- Insæt Header her -->
    <main>
      <!-- Indsæt Hero her -->

      <!-- Indsæt CardSection her (som indeholder Cards) -->
    </main>
    <!-- Indsæt Footer her -->
  </body>
</html>
